# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

In [2]:
import pandas as pd

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [3]:
df = pd.read_csv ('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv')

In [ ]:

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df['st']=df['st'].str.replace('state', 'st')

In [56]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df['st'] = df['st'].str.replace('state', 'st')

In [105]:
# df['st'] = df['st'].str.replace('st', 'state')

df = df.rename(columns= {"st": "state"})

df

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,customer_lifetime_value\t
1,QZ44356,Arizona,<bound method StringMethods.strip of <pandas.c...,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,697953.59
2,AI49188,Nevada,<bound method StringMethods.strip of <pandas.c...,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,1288743.17
3,WW63253,California,<bound method StringMethods.strip of <pandas.c...,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,764586.18
4,GA49547,Washington,<bound method StringMethods.strip of <pandas.c...,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,536307.65
5,OC83172,Oregon,<bound method StringMethods.strip of <pandas.c...,Bachelor,825629.78%,62902.0,69.0,1/0/00,Personal Auto,Two-Door Car,159.383042,825629.78
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,<bound method StringMethods.strip of <pandas.c...,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219,305955.03
1067,VJ51327,California,<bound method StringMethods.strip of <pandas.c...,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041,2031499.76
1068,GS98873,Arizona,<bound method StringMethods.strip of <pandas.c...,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000,323912.47
1069,CW49887,California,<bound method StringMethods.strip of <pandas.c...,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000,462680.11
1070,MY31220,California,<bound method StringMethods.strip of <pandas.c...,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000,899704.02

In [39]:
df.iloc[:1] = df.iloc[:1].replace('st', "state")
df

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [63]:
df['st'].unique()
state_names= {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}

df['st'] = df['st'].replace(state_names)

df.dropna(subset=['st'], inplace= True)
df['st'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon'],
      dtype=object)

In [66]:

bachelors = {"Bachelors": "Bachelor"}

df['education'] = df['education'].replace(bachelors)
df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor'],
      dtype=object)

In [68]:
df['customer_lifetime_value	'] = df['customer_lifetime_value'].str.replace('%', '')

In [70]:
df['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car'], dtype=object)

In [72]:
# *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*
cars_edited = {"Sports Car": "Luxury", "Luxury SUV": "Luxury", "Luxury Car": 'Luxury'}
df['vehicle_class'] = df['vehicle_class'].replace(cars_edited)

In [69]:
df

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,customer_lifetime_value\t
0,RB50392,Washington,<bound method StringMethods.strip of <pandas.c...,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934,NaN
1,QZ44356,Arizona,<bound method StringMethods.strip of <pandas.c...,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935,697953.59
2,AI49188,Nevada,<bound method StringMethods.strip of <pandas.c...,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247,1288743.17
3,WW63253,California,<bound method StringMethods.strip of <pandas.c...,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344,764586.18
4,GA49547,Washington,<bound method StringMethods.strip of <pandas.c...,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323,536307.65
...,...,...,...,...,...,...,...,...,...,...,...,...
1066,TM65736,Oregon,<bound method StringMethods.strip of <pandas.c...,Master,305955.03%,38644.0,78.0,1/1/00,Personal Auto,Four-Door Car,361.455219,305955.03
1067,VJ51327,California,<bound method StringMethods.strip of <pandas.c...,High School or Below,2031499.76%,63209.0,102.0,1/2/00,Personal Auto,SUV,207.320041,2031499.76
1068,GS98873,Arizona,<bound method StringMethods.strip of <pandas.c...,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.600000,323912.47
1069,CW49887,California,<bound method StringMethods.strip of <pandas.c...,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.200000,462680.11
1070,MY31220,California,<bound method StringMethods.strip of <pandas.c...,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.600000,899704.02

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [87]:
# Your code here
df.dropna(subset=['customer_lifetime_value'], inplace= True)
df['customer_lifetime_value'].unique()
df['customer_lifetime_value'] = df['customer_lifetime_value'].astype(int)

ValueError: invalid literal for int() with base 10: '697953.59%'

In [90]:
df.dropna(subset=['number_of_open_complaints'], inplace= True)
df['number_of_open_complaints'] = df['number_of_open_complaints'].astype(int)

df['number_of_open_complaints'] = pd.to_numeric(df['number_of_open_complaints'], errors='coerce') 

#QUESTOIN: WHY DO I KEEP GETTING BELOW ERROR?

ValueError: invalid literal for int() with base 10: '1/0/00'

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

# Your code here
df.isnull()

In [99]:
# I chose the dropna method to drop null values in columns and rows as i found it to be the most efficient method 
df.dropna(inplace=True)
df.dropna(axis=1, inplace=True)

In [98]:
df.isnull()
print(df.isnull().any())

customer                     False
st                           False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
customer_lifetime_value\t    False
dtype: bool

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [103]:

df.drop_duplicates(inplace=True)

print(df)
df.duplicated()

     customer          st                                             gender  \
1     QZ44356     Arizona  <bound method StringMethods.strip of <pandas.c...
2     AI49188      Nevada  <bound method StringMethods.strip of <pandas.c...
3     WW63253  California  <bound method StringMethods.strip of <pandas.c...
4     GA49547  Washington  <bound method StringMethods.strip of <pandas.c...
5     OC83172      Oregon  <bound method StringMethods.strip of <pandas.c...
...       ...         ...                                                ...
1066  TM65736      Oregon  <bound method StringMethods.strip of <pandas.c...
1067  VJ51327  California  <bound method StringMethods.strip of <pandas.c...
1068  GS98873     Arizona  <bound method StringMethods.strip of <pandas.c...
1069  CW49887  California  <bound method StringMethods.strip of <pandas.c...
1070  MY31220  California  <bound method StringMethods.strip of <pandas.c...

                 education customer_lifetime_value   income  \
1                 Bachelor              697953.59%      0.0
2                 Bachelor             1288743.17%  48767.0
3                 Bachelor              764586.18%      0.0
4     High School or Below              536307.65%  36357.0
5                 Bachelor              825629.78%  62902.0
...                    ...                     ...      ...
1066                Master              305955.03%  38644.0
1067  High School or Below             2031499.76%  63209.0
1068              Bachelor              323912.47%  16061.0
1069                Master              462680.11%  79487.0
1070               College              899704.02%  54230.0

      monthly_premium_auto number_of_open_complaints     policy_type  \
1                     94.0                    1/0/00   Personal Auto
2                    108.0                    1/0/00   Personal Auto
3                    106.0                    1/0/00  Corporate Auto
4                     68.0                    1/0/00   Personal Auto
5                     69.0                    1/0/00   Personal Auto
...                    ...                       ...             ...
1066                  78.0                    1/1/00   Personal Auto
1067                 102.0                    1/2/00   Personal Auto
1068                  88.0                    1/0/00   Personal Auto
1069                 114.0                    1/0/00    Special Auto
1070                 112.0                    1/0/00   Personal Auto

      vehicle_class  total_claim_amount customer_lifetime_value\t
1     Four-Door Car         1131.464935                 697953.59
2      Two-Door Car          566.472247                1288743.17
3               SUV          529.881344                 764586.18
4     Four-Door Car           17.269323                 536307.65
5      Two-Door Car          159.383042                 825629.78
...             ...                 ...                       ...
1066  Four-Door Car          361.455219                 305955.03
1067            SUV          207.320041                2031499.76
1068  Four-Door Car          633.600000                 323912.47
1069            SUV          547.200000                 462680.11
1070   Two-Door Car          537.600000                 899704.02

[1068 rows x 12 columns]

1       False
2       False
3       False
4       False
5       False
        ...
1066    False
1067    False
1068    False
1069    False
1070    False
Length: 1068, dtype: bool

In [104]:
df.duplicated()

1       False
2       False
3       False
4       False
5       False
        ...
1066    False
1067    False
1068    False
1069    False
1070    False
Length: 1068, dtype: bool

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here